<!DOCType html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>template working</title>
</head>
<body>
    <h1>Let's perform some textutils operation</h1>
    <form action ="/analyze" method="get">
        <textarea name='text' style='margin: 0px; width: 311px; height: 127px;'></textarea><br>
        <input type="checkbox" name="removepunc"> Remove Punctuations<br>
        <input type="checkbox" name="Capitalize"> Capitalization<br>
        <input type="checkbox" name="newline"> New Line Break<br>
        <input type="checkbox" name="extraspaceremove"> Extra Space Remover<br>
        <input type="checkbox" name="charcount"> Char count<br>
        <button type="submit">Analyze text</button>
    </form>
</body>
</html>